.wrapper {
	width:1000px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	background-image: linear-gradient(#0317fc, #03fcfc);
}

.wrapper2 {
  width:1000px;
  height:800px;
  margin-left:auto;
  margin-right:auto;
  background-image: linear-gradient(#9d05f5, #e107f5)!important;
}

.row{
	width: 1000px;
	float: left
}

.halo{
  text-align: center;
  color : #fffefc
}

.btn{
  margin-bottom: 10px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  max-height: 150px;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
