{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PPW Story 7</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
</head>
<body class="wrapper">
	<button id="hmm" class="btn">Ganti warna background</button>
	<div >
		<h2 class="halo">Halo, Aku Nunun!</h2>
		<div>
			
		</div>
		<div class="row">
			<section>
				<button class="accordion">Aktivitas Saat Ini</button>
				<div class="panel">
  					<p>Semester 3 di jurusan Ilmu Komputer Fasilkom UI</p>
				</div>

				<button class="accordion">Pengalaman Organisasi/Kepanitiaan</button>
				<div class="panel">
					<p>Fuki Fasilkom UI 2019 </p>
					<p>BEM Fasilkom UI 2019 </p>
					<p> DPM Fasilkom UI 2019</p>
				</div>

				<button class="accordion">Prestasi</button>
				<div class="panel">
					<p>Coming Soon.</p>
				</div>
			</section>
		</div>
	</div>
</body>
</html>